{{ define "main" }}
  <article class="post">
    <h1>{{ .Title | markdownify }}</h1>

    <!-- <div class="post-content">
      {{ .Content }}
    </div> -->


    <!-- {{- with $.Site.Data.json_resume.en.skills -}}
    <h2 id="skills">Skills</h2>
    <ul>
      {{- range . -}}
        <li style="margin-bottom: 20px;">
          <strong>{{ .name }}:</strong>
          <br />{{- $count := len .keywords -}}
          {{- range $index, $keyword := .keywords -}}
            {{ $keyword }}{{ if lt (add $index 1) $count }}, {{ end }}
          {{- end }}
        </li>
      {{- end -}}
    </ul>
  {{- end -}}
  

    {{- with $.Site.Data.json_resume.en.certificates -}}
      <h2 id="certificates">Certificates</h2>
      <ul>
        {{- range . -}}
          <li>
            <a href="{{ .url }}" target="_blank" style="color: var(--blue2);"
              >{{ .name | safeHTML }}</a
            ><br />Issuer - {{ .issuer }}<br />
            {{ .details }}<br />
          </li>
        {{- end -}}
      </ul>
    {{- end -}} -->

    <button style="background-color: var(--bg2); color: var(--fg1); border: 2px solid var(--blue2); padding: 10px 20px; border-radius: 5px;"
    ><a href="/Suyash_Salvi_Resume.pdf" download="Suyash_Salvi_Resume.pdf" style="color: var(--fg1); text-decoration: none;"
    >Download Resume</a></button>

  </article>
{{ end }}
